.start__wrapper {
  background: var(--yel);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-items: center;
  align-items: center;
}

.start__img-wrapper {
  width: 646px;
  height: 426px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
}

.start__header {
  font-size: 150px;
  text-align: center;
  position: relative;
}

.start__img {
  position: absolute;
  z-index: 0;
}

.start__img.white,
.start__img.border {
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
}

.start__img-wrapper:hover .start__img.white {
  transform: translate(-50%, -50%) scale(1.0)
}

.start__img.border {
  transform: translate(-54%, -54%) scale(0.9);
}

.start__img-wrapper:hover .start__img.border {
  transform: translate(-54%, -54%) scale(1.0)
}

.start__img.loudspeaker {
  width: 170px;
  top: -6%;
  left: 82%;
  transform: rotate(-23deg) scale(0.9);
}

.start__img-wrapper:hover .start__img.loudspeaker {
  transform: rotate(-23deg) scale(1);
  top: -8%;
  left: 85%;
}

/* / */
.start__icons-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  /* Style for each icon */
  .start__icons-list li {
    list-style-type: none;
    opacity: 0; /* Initially hidden */
    transform: scale(0) translate(0, 0);
    transition: opacity 1s ease, transform 1s ease; /* Smooth transition */
  }
  
  /* Icon burst animation on hover */
  .start__img-wrapper:hover .start__icons-list li {
    opacity: 1;
    transform: scale(1) translate(var(--x), var(--y));
  }
  
  /* Keyframe for the burst animation */
  @keyframes burst {
    0% {
      opacity: 1;
      transform: scale(0) translate(0, 0);
    }
    100% {
      opacity: 0;
      transform: scale(1) translate(var(--x), var(--y));
    }
  }
  
  /* SVG icon definitions (Hidden in this case) */
  .start__icon {
    width: 20px;
  }
 